@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    background-color:#fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

header .logo{
    color: #A47E3B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

header .naviagtion a{
    color: #A47E3B;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    transition: color .3s;
}

header .naviagtion a:hover{
    color: coral;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2{
    color: #d28d1f;
    font-size: 1.4em;
    font-weight: 500;
} 

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(204, 150, 0);
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #cf753dd0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main .main-btn{
    color: #fff;
    background-color:#f0aa47;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .5s;
}

.main .main-btn:hover{
    background-color: #ce8216;
    transform: scale(1.1);
}

.main .social-icons a{
    color: #000000a2;
    font-size: 1.7em;
    padding-right: 30px;
    transition: .5s;
}


.main .social-icons a:hover{
    color: #936f21;
}

.title{
    display: flex;
    justify-content: center;
    color:  #A47E3B;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card{
    background-color: #fff; 
    width: 21.25em;
    box-shadow:  0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin:15px ;
    transition: .5s;
}

.card:hover{
    transform: scale(1.1);
}

.cards .icon{
    color:#A47E3B ;
    font-size: 8em;
    text-align: center;
}

.cards .info{
    text-align: center;
}


.cards .info h3{
    color:#A47E3B ;
    font-size: 1.2em;
    font-weight: 700;
    margin: 18px;
}

.projects{
    background-color:#dbdfaa67;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width:23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .5s;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
        opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-detalis{
    color:#A47E3B;
}

.more-detalis:hover{
        color: coral;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info p{
    font-size: 1.5em;
}

.footer{
    background-color:#f5f0bb98;
    color: #121010b9;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color:  #936f21;
}

.footer .social-icons a{
    font-size: 1.5em;
    padding-inline: 5px;
    color: #000000a2;
    transition: .5s;
}

.footer .social-icons a:hover{
    color: #936f21;

}

